<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
    <title>Password Checker</title>
</head>
<body>
        <div class="container">
            <h1 class="text-center my-4">Password Checker</h1>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form method="POST">
                        <div class="form-group">
                            <label for="password">Enter your password:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Check</button>
                    </form>
                    {% if count is not none %}
                        <div class="mt-4">
                            {% if count > 0 %}
                                <div class="alert alert-danger" role="alert">
                                    "{{ password }}" was found {{ count }} times... you should set a new password!!!
                                </div>
                                {% if suggestion is not none %}
                                    <div class="alert alert-info" role="alert">
                                        Here's a suggestion for a new password: {{ suggestion }}
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="alert alert-success" role="alert">
                                    "{{ password }}" was not found... you're good to go!!
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        
</body>
</html>
